.Pallete{
    height: 100vh;   
    display: flex;
    flex-direction: column;
}

.Pallete-colors{
    height: 90%;
    
}

.slider {
    width: 350px;
    margin: 0 10px;
    display: inline-block;
}

.rc-slider-track{
    background-color: transparent;
}

.rc-slider-rail{
    height: 8px;
}

.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:hover,
.rc-slider-handle:focus{
    background-color: green;
    outline: none;
    border:2px solid green;
    box-shadow: none;
    width:13px;
    height: 13px;
    margin-left: -7px;
    margin-top: -3px;

}

.palette-footer{
    background-color: white;
    height:5vh;
    display: flex;
    justify-content: flex-end;
    align-items:center;
    font-weight: bold;
}

.emoji{
    font-size: 1.5rem;
    margin: 0 1rem;
}